:root {
  --bg: #ffffff;
  --muted: rgb(113, 125, 140);
  --text: #0f1724;
  --border: #e6e9ee;
  --accent: #0b3b66;
  --accent-2: #123b67;
  --input-bg: #fff;
  --radius: 8px;
  --main-font: "Montserrat";
}

 html, body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  line-height: 2; /* little bit of space between lines inside paragraphs */ 
}

main {
  flex: 1;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: smaller;
  text-align: center;
  padding: 25px;
}
